# Setup

In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Import Secrets
from secrets import username, password

# Combine - Get One Aggregate Dataframe

In [3]:
#Store URL's for NFL Combine by Season (2016-2020)
combine2016url =  'https://www.pro-football-reference.com/draft/2016-combine.htm'
combine2017url = 'https://www.pro-football-reference.com/draft/2017-combine.htm'
combine2018url = 'https://www.pro-football-reference.com/draft/2018-combine.htm'
combine2019url = 'https://www.pro-football-reference.com/draft/2019-combine.htm'
combine2020url = 'https://www.pro-football-reference.com/draft/2020-combine.htm#combine'

In [4]:
#Read in html tables from NFL Combine URL's
combine_2016 = pd.read_html(combine2016url)
combine_2017 = pd.read_html(combine2017url)
combine_2018 = pd.read_html(combine2018url)
combine_2019 = pd.read_html(combine2019url)
combine_2020 = pd.read_html(combine2020url)

In [5]:
#Check Data Type
type(combine_2016)

list

In [6]:
#Check how many tables are in the combine website
len(combine_2016)

1

In [7]:
#Index the correct table and save in a variable
combine_df_2016 = combine_2016[0]
combine_df_2017 = combine_2017[0]
combine_df_2018 = combine_2018[0]
combine_df_2019 = combine_2019[0]
combine_df_2020 = combine_2020[0]

In [8]:
#Preview the Combine DF
combine_df_2016.head()

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Mehdi Abdesmad,DE,Boston Col.,College Stats,6-6,284,5.10,29.5,25,108,7.55,4.62,NaN
1,Vernon Adams,QB,Oregon,College Stats,5-11,200,4.83,29.5,NaN,114,6.82,4.20,NaN
2,Jerell Adams,TE,South Carolina,College Stats,6-5,247,4.64,32.5,NaN,117,7.05,4.31,New York Giants / 6th / 184th pick / 2016
3,Bralon Addison,WR,Oregon,College Stats,5-9,197,4.66,34.5,13,116,6.95,4.14,NaN
4,Roberto Aguayo,K,Florida State,College Stats,6-0,207,4.96,NaN,NaN,NaN,NaN,NaN,Tampa Bay Buccaneers / 2nd / 59th pick / 2016

In [9]:
#Add Year to Combine DF's
combine_df_2016['Year']='2016'
combine_df_2017['Year']='2017'
combine_df_2018['Year']='2018'
combine_df_2019['Year']='2019'
combine_df_2020['Year']='2020'

In [10]:
#Preview the 2016 Combine DF with Added Year Column
combine_df_2016.head()

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,Mehdi Abdesmad,DE,Boston Col.,College Stats,6-6,284,5.10,29.5,25,108,7.55,4.62,NaN,2016
1,Vernon Adams,QB,Oregon,College Stats,5-11,200,4.83,29.5,NaN,114,6.82,4.20,NaN,2016
2,Jerell Adams,TE,South Carolina,College Stats,6-5,247,4.64,32.5,NaN,117,7.05,4.31,New York Giants / 6th / 184th pick / 2016,2016
3,Bralon Addison,WR,Oregon,College Stats,5-9,197,4.66,34.5,13,116,6.95,4.14,NaN,2016
4,Roberto Aguayo,K,Florida State,College Stats,6-0,207,4.96,NaN,NaN,NaN,NaN,NaN,Tampa Bay Buccaneers / 2nd / 59th pick / 2016,2016

In [11]:
#Create One Big Combined DF for all Years - Combine
frames = [combine_df_2016, combine_df_2017, combine_df_2018, combine_df_2019, combine_df_2020]
combined_combine_df = pd.concat(frames)

In [12]:
#Preview Combined Combine DF
combined_combine_df.head()

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,Mehdi Abdesmad,DE,Boston Col.,College Stats,6-6,284,5.10,29.5,25,108,7.55,4.62,NaN,2016
1,Vernon Adams,QB,Oregon,College Stats,5-11,200,4.83,29.5,NaN,114,6.82,4.20,NaN,2016
2,Jerell Adams,TE,South Carolina,College Stats,6-5,247,4.64,32.5,NaN,117,7.05,4.31,New York Giants / 6th / 184th pick / 2016,2016
3,Bralon Addison,WR,Oregon,College Stats,5-9,197,4.66,34.5,13,116,6.95,4.14,NaN,2016
4,Roberto Aguayo,K,Florida State,College Stats,6-0,207,4.96,NaN,NaN,NaN,NaN,NaN,Tampa Bay Buccaneers / 2nd / 59th pick / 2016,2016

In [13]:
#Clean up Combined Combine DF -- Rename and Drop Columns Where Necessary
combined_combine_df = combined_combine_df.rename(columns = {'40yd':'Forty_Yard', '3Cone': 'Three_Cone', 'Broad Jump': 'Broad_Jump'})
combined_combine_df = combined_combine_df.drop(['College', 'Drafted (tm/rnd/yr)'], axis=1)

In [14]:
#Preview Cleaned Up Combined Combine DF
combined_combine_df.head()

,Player,Pos,School,Ht,Wt,Forty_Yard,Vertical,Bench,Broad_Jump,Three_Cone,Shuttle,Year
0,Mehdi Abdesmad,DE,Boston Col.,6-6,284,5.10,29.5,25,108,7.55,4.62,2016
1,Vernon Adams,QB,Oregon,5-11,200,4.83,29.5,NaN,114,6.82,4.20,2016
2,Jerell Adams,TE,South Carolina,6-5,247,4.64,32.5,NaN,117,7.05,4.31,2016
3,Bralon Addison,WR,Oregon,5-9,197,4.66,34.5,13,116,6.95,4.14,2016
4,Roberto Aguayo,K,Florida State,6-0,207,4.96,NaN,NaN,NaN,NaN,NaN,2016

# Player - Get One Aggregate Dataframe

In [15]:
#Create Player DF from Combine DF
combined_player_df = combined_combine_df[['Player', 'Pos', 'School']]

In [16]:
#Preview Player DF
combined_player_df.head()

           Player Pos          School
0  Mehdi Abdesmad  DE     Boston Col.
1    Vernon Adams  QB          Oregon
2    Jerell Adams  TE  South Carolina
3  Bralon Addison  WR          Oregon
4  Roberto Aguayo   K   Florida State

# Draft - Get One Aggregate Dataframe

In [17]:
#Store URL's for NFL Draft by Season (2016-2020)
draft2016 = 'https://en.wikipedia.org/wiki/2016_NFL_Draft'
draft2017 = 'https://en.wikipedia.org/wiki/2017_NFL_Draft'
draft2018 = 'https://en.wikipedia.org/wiki/2018_NFL_Draft'
draft2019 = 'https://en.wikipedia.org/wiki/2019_NFL_Draft'
draft2020 = 'https://en.wikipedia.org/wiki/2020_NFL_Draft'

In [18]:
#Read in html tables from NFL Draft URL's
draft_2016 = pd.read_html(draft2016)
draft_2017 = pd.read_html(draft2017)
draft_2018 = pd.read_html(draft2018)
draft_2019 = pd.read_html(draft2019)
draft_2020 = pd.read_html(draft2020)

In [19]:
#Check Data Type
type(draft_2016)

list

In [20]:
#Check how many tables are in the draft website
len(draft_2016)

13

In [21]:
#Index the correct table and save in a variable
draft_df_2016 = draft_2016[4]
draft_df_2017 = draft_2017[4]
draft_df_2018 = draft_2018[4]
draft_df_2019 = draft_2019[4]
draft_df_2020 = draft_2020[4]

In [22]:
#Preview the Draft DF
draft_df_2016.head()

,Unnamed: 0,Rnd.,Pick #,NFL team,Player,Pos.,College,Conf.,Notes
0,NaN,1,1.0,Los Angeles Rams,Jared Goff †,QB,California,Pac-12,from Tennessee [R1 - 1]
1,NaN,1,2.0,Philadelphia Eagles,Carson Wentz †,QB,North Dakota State,MVFC,from Cleveland [R1 - 2]
2,NaN,1,3.0,San Diego Chargers,Joey Bosa †,DE,Ohio State,Big Ten,NaN
3,NaN,1,4.0,Dallas Cowboys,Ezekiel Elliott †,RB,Ohio State,Big Ten,NaN
4,NaN,1,5.0,Jacksonville Jaguars,Jalen Ramsey †,CB,Florida State,ACC,NaN

In [23]:
#Add Year to Draft DF's
draft_df_2016['Year']='2016'
draft_df_2017['Year']='2017'
draft_df_2018['Year']='2018'
draft_df_2019['Year']='2019'
draft_df_2020['Year']='2020'

In [24]:
#Preview the 2016 Draft DF with Added Year Column
draft_df_2016.head()

,Unnamed: 0,Rnd.,Pick #,NFL team,Player,Pos.,College,Conf.,Notes,Year
0,NaN,1,1.0,Los Angeles Rams,Jared Goff †,QB,California,Pac-12,from Tennessee [R1 - 1],2016
1,NaN,1,2.0,Philadelphia Eagles,Carson Wentz †,QB,North Dakota State,MVFC,from Cleveland [R1 - 2],2016
2,NaN,1,3.0,San Diego Chargers,Joey Bosa †,DE,Ohio State,Big Ten,NaN,2016
3,NaN,1,4.0,Dallas Cowboys,Ezekiel Elliott †,RB,Ohio State,Big Ten,NaN,2016
4,NaN,1,5.0,Jacksonville Jaguars,Jalen Ramsey †,CB,Florida State,ACC,NaN,2016

In [25]:
#Create One Big Combined DF for all Years - Draft
frames = [draft_df_2016, draft_df_2017, draft_df_2018, draft_df_2019, draft_df_2020]
combined_draft_df = pd.concat(frames)

In [26]:
#Preview Combined Draft DF
combined_draft_df.head()

,Unnamed: 0,Rnd.,Pick #,NFL team,Player,Pos.,College,Conf.,Notes,Year
0,NaN,1,1.0,Los Angeles Rams,Jared Goff †,QB,California,Pac-12,from Tennessee [R1 - 1],2016
1,NaN,1,2.0,Philadelphia Eagles,Carson Wentz †,QB,North Dakota State,MVFC,from Cleveland [R1 - 2],2016
2,NaN,1,3.0,San Diego Chargers,Joey Bosa †,DE,Ohio State,Big Ten,NaN,2016
3,NaN,1,4.0,Dallas Cowboys,Ezekiel Elliott †,RB,Ohio State,Big Ten,NaN,2016
4,NaN,1,5.0,Jacksonville Jaguars,Jalen Ramsey †,CB,Florida State,ACC,NaN,2016

In [27]:
#Clean up Combined Combine DF -- Rename and Drop Columns Where Necessary
combined_draft_df = combined_draft_df.rename(columns = {'Rnd.': 'Round', 'Pick #': 'Pick_No', 'Pos.': 'Pos', 'Conf.': 'Conf'})
combined_draft_df = combined_draft_df.drop(['Unnamed: 0', 'Notes', 'NFL team'], axis=1)

In [28]:
#Preview Cleaned Up Combined Draft DF
combined_draft_df.head()

  Round  Pick_No             Player Pos             College     Conf  Year
0     1      1.0       Jared Goff †  QB          California   Pac-12  2016
1     1      2.0     Carson Wentz †  QB  North Dakota State     MVFC  2016
2     1      3.0        Joey Bosa †  DE          Ohio State  Big Ten  2016
3     1      4.0  Ezekiel Elliott †  RB          Ohio State  Big Ten  2016
4     1      5.0     Jalen Ramsey †  CB       Florida State      ACC  2016

# Load

In [31]:
#Connect to Local SQL Database
rds_connection_string = f'{username}:{password}@localhost:5432/NFL_DB'
engine = create_engine(f'postgresql://{rds_connection_string}')

### First, create Player table in PostgreSQL, then execute code below:

In [32]:
# Check the tables names to make sure where are we posting
engine.table_names()

['player']

In [33]:
# Append data using pandas. name stands for table name, change it if neccesary.
combined_player_df.to_sql(name='player', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Player" of relation "player" does not exist
LINE 1: INSERT INTO player ("Player", "Pos", "School") VALUES ('Mehd...
                            ^

[SQL: INSERT INTO player ("Player", "Pos", "School") VALUES (%(Player)s, %(Pos)s, %(School)s)]
[parameters: ({'Player': 'Mehdi Abdesmad', 'Pos': 'DE', 'School': 'Boston Col.'}, {'Player': 'Vernon Adams', 'Pos': 'QB', 'School': 'Oregon'}, {'Player': 'Jerell Adams', 'Pos': 'TE', 'School': 'South Carolina'}, {'Player': 'Bralon Addison', 'Pos': 'WR', 'School': 'Oregon'}, {'Player': 'Roberto Aguayo', 'Pos': 'K', 'School': 'Florida State'}, {'Player': 'Mackensie Alexander', 'Pos': 'CB', 'School': 'Clemson'}, {'Player': 'Dominique Alexander', 'Pos': 'ILB', 'School': 'Oklahoma'}, {'Player': 'Vadal Alexander', 'Pos': 'OT', 'School': 'LSU'}  ... displaying 10 of 1699 total bound parameter sets ...  {'Player': 'Chase Young', 'Pos': 'DL', 'School': 'Ohio State'}, {'Player': 'Jabari Zuniga', 'Pos': 'DL', 'School': 'Florida'})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
#Confirm the data has been appended. Check table name.
pd.read_sql_query('select * from player', con=engine).head()

In [ ]:
player_id_df=pd.read_sql_query('select * from player', con=engine)
player_id_df

In [ ]:
combine_df_final = pd.merge(combine_df, player_id_df, how='inner', on='player')
combine_df_final

In [ ]:
combine_df_final = combine_df_final.drop(columns = ['school', 'School','player'])
combine_df_final = combine_df_final.rename(columns = {'id':'player_id'})
combine_df_final

In [ ]:
combine_table=engine.execute('SELECT * FROM combine')
print(combine_table.keys())

In [ ]:
#OLD CODE FOR REFERENCE
combine_df = combine_df_2020.append(combine_df_2019,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2018,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2017,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2016,ignore_index=True,verify_integrity=True)
combine_df = combine_df.rename(columns = {'Player': 'player'})
combine_df = combine_df.drop(columns = {'Pos'})
combine_df